@import "dm/dm";

body {
	background: #333;
	background-image: url(../../viewer/web/images/texture.png);
	color: #ddd;
	text-shadow: 0 1px 0 #222;
	overflow: hidden;
}
iframe {
	border: none;
}
.bktran {
	height: 45px;
	position: fixed;
	top:0;
	left:0;
	width: 100%;
}
a {
	color: #a59dbc;
	text-decoration: none;
}
.wrapper {
	margin-top: 45px;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	position: relative;
}

.flex {
	-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: 1;         /* OLD - Firefox 19- */
	-webkit-flex: 1;          /* Chrome */
	-ms-flex: 1;              /* IE 10 */
	flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
	overflow: hidden;
}

.right {
	-webkit-box-flex: 5;      /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: 5;         /* OLD - Firefox 19- */
	-webkit-flex: 5;          /* Chrome */
	-ms-flex: 5;              /* IE 10 */
	flex: 5;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
	box-shadow: -5px 0 5px -5px rgba(0,0,0,0.5);
}

.left {
	position: relative;
	font-family: arial, sans-serif;
	font-size: 18px;
	line-height: 1.5em;

	h1 {
		margin: 0;
		padding: 0;
		height: 32px;
		line-height: 31px;
		font-size: 12px;
		text-indent: 20px;
		position: absolute;
		top: 0;
		left: 0;
	    width: 100%;
		height: 32px;
		background-color: #474747; /* fallback */
		background-image: url(../../viewer/web/images/texture.png),
		                linear-gradient(hsla(0,0%,32%,.99), hsla(0,0%,27%,.95));
		box-shadow: inset 1px 0 0 hsla(0,0%,100%,.08),
		          inset 0 1px 1px hsla(0,0%,0%,.15),
		          inset 0 -1px 0 hsla(0,0%,100%,.05),
		          0 1px 0 hsla(0,0%,0%,.15),
		          0 1px 1px hsla(0,0%,0%,.1);
		font-weight: normal;
		text-transform: uppercase;

		span {
			position: absolute;
			top:0;
			right:0;
			width:31px;
			height: 31px;
			display: block;
			overflow: hidden;
			text-align: center;
			line-height: 31px;
			font-size: 12px;
			font-weight: normal;
			cursor: pointer;
		}
	}

	.blog-navigation__filter {
		margin: 0;
		padding: 0;
		height: 32px;
		line-height: 31px;
		font-size: 12px;
		text-indent: 10%;
		position: absolute;
		bottom: 0;
		left: 0;
	    width: 100%;
		height: 32px;
		background-color: #474747; /* fallback */
		background-image: url(../../viewer/web/images/texture.png),
		                linear-gradient(hsla(0,0%,32%,.99), hsla(0,0%,27%,.95));
		box-shadow: inset 1px 0 0 hsla(0,0%,100%,.08),
		          inset 0 1px 1px hsla(0,0%,0%,.15),
		          inset 0 -1px 0 hsla(0,0%,100%,.05),
		          0 1px 0 hsla(0,0%,0%,.15),
		          0 1px 1px hsla(0,0%,0%,.1),
		          0 0 10px hsla(0,0%,0%,.2) ;
		font-weight: normal;
		text-transform: uppercase;

		input {
			border: none;
			background: rgba(0,0,0,0.1);
			line-height: 18px;
			height: 27px;
			margin: 2px;
			font-size: 16px;
			display: block;
			text-indent: 10%;
			color: #ccc;
			-webkit-highlight: none!important;
			box-shadow: inset 0 0 10px rgba(255,255,255,0.1);
			width: 80%;
			&:focus {
				outline: none;
			}
		}
	}
}

.blog-navigation {
	padding-top: 32px;
	line-height: 1.5em;
	font-size: 14px;
	color: #ddd;

	ul {
		padding: 0;
		margin: 0;

		li {
			padding: 10px 20px;
			box-shadow: inset 1px 0 0 hsla(0,0%,100%,.08),
			          inset 0 1px 1px hsla(0,0%,0%,.15),
			          inset 0 -1px 0 hsla(0,0%,100%,.05),
			          0 1px 0 hsla(0,0%,0%,.15),
			          0 1px 1px hsla(0,0%,0%,.1);
			opacity: 0.5;
			list-style:none;
			margin: 0;
			cursor: pointer;

			&:hover {
				opacity: 0.9;
			}

			&.highlight {
				opacity: 1.0;
			}
		}
	}
}
.mobile-menu {
	display: none;
	position: fixed;
	bottom: 4%;
	left: 50%;
	margin-left: -20px;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	opacity: 0.5;
	background-color: #474747; /* fallback */
	background-image: url(../../viewer/web/images/texture.png);
	z-index: 4;
	border-radius: 8px;
}

@media all and (max-width: 940px) {
	.wrapper {
		margin-top: 45px;
		display: block!important;      
		height: auto;
	}
	.flex, .left, .right {
		display: block;
		height: auto;
		-webkit-box-flex: none;      /* OLD - iOS 6-, Safari 3.1-6 */
		-moz-box-flex: none;         /* OLD - Firefox 19- */
		-webkit-flex: none;          /* Chrome */
		-ms-flex: none;              /* IE 10 */
		flex: none;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
	}
	.left {
		position: fixed;
		top: 45px;
		left: 0;
		width: 100%;
		z-index: 2;
		background-color: #474747; /* fallback */
		background-image: url(../../viewer/web/images/texture.png);
		display: none;
	}
	.right {
		top: 0;
		left: 0;
		width: 100%;
		position: absolute;
		z-index: 1;
	}
	.mobile-menu {
		display: block;
	}
	section[rel="visible"] {
		display: block;
		height: auto;
	}
}