<nav class='fm'>
  <nav class='fm--logo'>
    <a class='fm__link'></a>
  </nav>

  <!-- Core Navigation -->
  <nav class='fm--core'>
  	<ul>
  	<li>
    <a class='fm__link' href='#'></a>
    </li>
    </ul>
  </nav>
  <!-- Social Links -->
  <nav class='fm--soc'>
    <a class='fm__link' href='http://twitter.com/boriskourt'>"</a>
    <a class='fm__link' href='http://forrst.com/people/BorisKourt'>#</a>
    <a class='fm__link' href='http://www.flickr.com/photos/boriskourt/'>$</a>
    <a class='fm__link' href='https://github.com/BorisKourt'>(</a>
  </nav>
  <!-- Extras -->
  <nav class='fm--inc'>
    <a class='fm__link' data-context="question" href='#'>9</a>
  </nav>

  <!-- Sub Navigation -->
  <nav class='fm__subnav' data-context="projects">
    <ul>
      <li>
        <a class='fm__link' target="_blank">Thesis</a>
      </li>
    </ul>
    <a class='close' href='#'>4</a>
  </nav>
  <!-- extras -->
  <article class='fm__question'>
    <ul>
      <li>
        <p class='fm__answer'>
          This is a centralized menu that converts the chaos of my exitence into a more traversable whole.
        </p>
      </li>
    </ul>
    <a class='close' href='#'>4</a>
  </article>
</nav>